@charset "UTF-8";
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700&family=Jost:wght@300;400;500&family=Crimson+Pro:ital,wght@1,400;1,600;1,700&family=Cormorant+Garamond:wght@400;500;600;700&display=swap');


/* 
font-family: 'Gothic A1', sans-serif;
font-family: 'Jost', sans-serif; 
font-family: 'Crimson Pro', serif;
font-family: 'Cormorant Garamond', serif;
*/

*{margin: 0; padding: 0; box-sizing:border-box;}


body{
    font-size: 1rem;
    background-color: #f0efed;
}
#main{
    width: 100vw;
}

section{
    max-width: 100%;
    min-height: 100vh;
    /* background-color: #fff; */
    /* padding: 2rem 0; */
}

.container{
    margin: 0 auto;
}

/* header영역 */
#header{
    width: 100vw;
    height: 55px;
    border: 2px solid #446596;
    font-family: 'Gothic A1', sans-serif;
    overflow: hidden;
}

#header .container{
    display: flex;
}

#header.fixed-header{
    position: fixed;
    top: 0; left: 0;
    border: none;
    z-index: 999999;
}

#header.fixed-header .menu{
    border: none;
    opacity: 0;
}

#header.fixed-header .menu:last-child{
    opacity: 1;
}

#header.fixed-header .menu:last-child a:hover{
    background-color: transparent;
    color: #446596;
    font-weight: 700;
    opacity: 0.7;
}

#header.fixed-header .logo{
    border: none;
}

#header.fixed-header .logo:hover{
    opacity: 0.7;
}


.logo{
    width: 23%;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #446596;
    letter-spacing: 2px;
    line-height: 55px;
    text-align: left;
    border-right: 2px solid #446596;
    padding-left: 1.5rem;
}

.menuwr{
    width: 77%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.menu{
    width: 17.5%;
    height: 100%;
    border-right: 2px solid #446596;
    line-height: 55px;
    text-align: center;
    font-weight: 600;
}

.menu a:hover{
    background-color: #446596;
    color: #fff;
    font-weight: 700;
}

.menu:last-child{
    border: none;
    width: 30%;
    text-align: right;
    font-weight: 700;
}

.menu:last-child a{
    padding-right: 1.5rem;
}

.menu a{
    display: block;
    width: 100%;
    color: #446596;
    font-size: 0.89rem;
}


/* banner영역 */

.banner{
    position: relative;
    overflow: hidden;
    height: 100vh;
    padding-top: 5rem;
    text-transform: uppercase;

}


.top-visual{
    height: 100vh;
    text-align: center;

}

.top-txt p{
    font-size: 46px;
    font-family: 'Crimson Pro', serif;
    font-weight: 500;
    letter-spacing: -1.8px;
    text-transform: uppercase;
    opacity: 0.85;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    color: #44659693;

}

.bottom-txt{
    display: flex;
    flex-direction:column;
    padding-top: 3rem;
    font-family: 'Cormorant Garamond', serif;
    color: #446596;
    font-weight: 700;
    letter-spacing: -5px;
}

.bottom-txt span{
    font-size: 16vw;
}

.bottom-txt span:first-child{
    z-index: 9;
}


.top-img{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%; top: 50%;
    background-image: url(../images/KakaoTalk_20240128_233328512.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 289px;
    height: 337px;
}

.b-title{
    position: absolute;
    bottom: 22%;
    right: 5%;
    width: 23%;
    line-height: 1.2;
    padding: 0 1rem;
    font-size: 1.28rem;
    color: #446596da;
}


.banner .deco{
    position: absolute;
    top: 51%;
    right: 32%;
}

.banner .deco svg{
    fill: hsla(216, 38%, 43%, 0.855);
}

.scroll-down {
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 0;
    left: 50%;
    color: #44659693;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    overflow: visible;
    display: flex;
    flex-direction: column;
  }

  .scroll-down .btn_scroll-icon{
    text-align: center;
    margin-top: 1rem;
    animation: bounce 5s infinite;
  }
  
  
  @keyframes bounce {
    0%,100%,20%,50%,80% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-7px);
    }
    60% {
        transform: translateY(-5px);
    }
}


/* about영역 */
.about{
    position: relative;
    font-family: 'Gothic A1', sans-serif;
    background-image: url(https://files.reginamusi.com/portfolio/nature2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 35px;
}

.about p{
    line-height: 1.5;
}

.about-wr{
    min-height: 100vh;
    display: flex;
    position: relative;
}

.about-wr>div{
    padding: 5rem 0;
}

.about-top{
    width: 50%;
    color: #fff;
}

.main-wr{
    position: relative;
    width: 500px;
    margin: 0 auto;
    font-family: 'Jost', sans-serif;
}

.main-wr img{
    width: 500px;
    object-fit: cover;
    border-radius: 30px; 
    
}

.main-wr>span{
    position: absolute;
    bottom: 129px;
    left: -203px;
    font-size: 6rem;
    font-weight: 600;
    transform: rotate(-90deg);
    letter-spacing: -0.2rem; 
    line-height: 1.2;
    color: #fff;
}

.about-txt{
    padding-top: 7rem;
}


.about-txt .txt_title{ 
    position: relative;
    display: block;
    width: 500px;
    margin: 0 auto;
    font-weight: 400;
    line-height: 1.5;
}

.about-txt .txt_title::before{
    content: '';
    position: absolute;
    left: 0; top: -20px;
    width: 15px;
    height: 2px;
    background-color: #fff;
    
}

.skills{
    width: 500px;
    padding: 0 20px;
    margin: 0 auto;
}

.skills .personal-list{
    padding: 5rem 0 3rem 0;
}

.skill-bar{
    height: 20px;
    background-color: #cacaca;
    border-radius: 8px;
}

.skill-name{
    font-size: 18px; 
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0;
}

.skill-per{
    position: relative;
    height: 20px; 
    background-color: #000;
    border-radius: 8px;
    width: 20px;
    transition: 1s linear;
}

.skill-per::before{
    content: attr(per) ;
    position: absolute;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    padding: 4px 6px; 
    top: -35px;
    right: 0;
    border-radius: 4px;

}

.skill-per::after{
    content: "" ;
    position: absolute;
    background-color: #000;
    top: -18px;
    right: 3px;
    width: 10px; height: 10px;
    border-radius: 2px;
    transform: rotate(45deg);
    z-index: -1;

}

.about-bottom{
    width: 50%;
    border-radius: 0 30px 0 0;
    color: #fff;
}

.about-bottom p{
    font-weight: 500;
}

.personal-list{
    width: 500px;
    margin: 0 auto;
    padding-top: 5rem;
}

.about-bottom .personal-list:nth-child(1){
    height: 450px;
    padding-top: 10rem;

}

.personal-list h1{
    overflow: hidden;
}

.personal-list h1 span{
    display: inline-block;
    transform: translateY(100%);
    line-height: 1;
}

.personal_name{
    font-size: 3.28rem;
    font-weight: 700;
    letter-spacing: -3px;
}


.personal_data{
    margin-top: 3rem;
    font-weight: 400;
}

.personal_data>p{
    margin-bottom: 0.628rem;
}

.personal_data .data-gr{
    margin-bottom: 3rem;
}

.about .roll{
    position: absolute;
    width: 100vw;
    left: 0;
    top: 0;
    padding: 1rem 0;
    overflow: hidden;
}

.roll .roll_box {
    display: flex;
    white-space: nowrap;
}

.roll .roll_box .roll_txt {
    font-weight: 400;
    font-size: 10rem;
    color: #f1f1f1;
    opacity: 0.8;
    padding: 0 20px;
    text-transform: uppercase;
    font-family: 'Cormorant Garamond', serif;
    will-change: transform;
    letter-spacing: -5px;
    font-weight: 600;
    mix-blend-mode: difference;
}


/* about-slider 영역 */

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}


.about-slider-wr{
    padding: 10rem 0;
}

.about-slider {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 80vw;
  height: 85vh;
  margin: 0 auto;
  border: 0.2rem solid #f0efed;
  padding:1.5rem 3rem;
  background-color: #f0efed;

}

.title-of-slider {
  font-weight: 700;
  width: max-content;
  align-self: flex-start;
  color:#222;
  font-size: clamp(1.5rem, 4.5vw, 4rem);
  display: flex;
  flex-direction: column;
  font-family: 'Gothic A1', sans-serif;
}

.title-of-slider > span {
  padding-top: 1rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 1px #222;
}

#image-container {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  height: 70%;
  padding: 0.5rem 0;
  margin: 1rem 0;
  overflow: hidden;
}

.images {
  flex: none;
  width: 25%;
  object-fit: cover;
  translate: calc(-100% - 0.5rem);
}

.button-container {
  display: grid;
  grid-template-columns: 2.5rem 2.5rem auto 2.5rem 2.5rem;
  column-gap: 0.1rem;
  width: 100%;
  gap: 0.5rem;
}

.button-container > button {
  position: relative;
  border: 0.12rem solid #222;
  border-radius: 50%;
  width: 2.5rem;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#left-arrow {
  grid-column: 1;
  grid-row: 1;
}

#right-arrow {
  grid-column: 2;
  grid-row: 1;
}

#right-arrow:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#left-arrow:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.button-container button > svg {
  width: 25%;
  height: auto;
}

#right-arrow svg {
  transform: rotate(180deg);
}

#progress-bar-container {
  position: relative;
  grid-column: 3 / 6;
  align-self: center;
  width: 90%;
  height: 0.2rem;
  justify-self: center;
  border-radius: 0.5rem;
  background-color: #222;
}

#progress-bar {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:#222;
  transform-origin: left;
}


/* Portfolio-title 영역 */
.Portfolio-title{
    height: 120vh;
    padding-top: 15rem;
    
}

.Portfolio-title .w-title{
   position: relative;
   text-align: center;

}

.Portfolio-title .w-title>h2{
    font-size: 5vw;
    font-weight: 500;
    color: #222;
    padding: 0 5rem;
    text-transform: uppercase;
    line-height: 1.2;
    font-family: 'Cormorant Garamond', serif;
    overflow: hidden;

}

.Portfolio-title .w-title .check-svg{
    position: absolute;
    left: 35%; bottom: -19%;
    
}



/* Portfolio 영역 */
.Portfolio{
    font-family: 'Cormorant Garamond', serif;
}

.list-wr{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* background-color: #fff; */
}

.list-wr .bg-wr{
    position: absolute;
    transform: translate(-50%);
    z-index: 999999999;
    width: 15%;
    height: 20%;

}

.list-wr .bg-wr>img{
    width: 100%;
    object-fit: cover;
}
/* .list-wr .bg-wr>video{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.site-list{
    position: absolute;
    transform: translate(-50%);
    left: 50%; top: 8%;
    width: 80%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: #ffffff63;
}

.site-img{
     position: relative;
   /* transform: translate(-50%);
    left: 50%; top: 50%; */
    width: 60%;
}

.pc-inner{
    position: relative;
    width: 60%;
    /* height: 500px; */
    margin: 0 auto;
}

.pc-inner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pc-m{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 39%;
    left: 50%;
    width: 80%;
    height: 57%;
    object-fit: fill;
}

.site-list .moniter_wrap:hover{
    background-position: bottom;
}

.pc-inner i {
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 60px;
    border-radius: 50%;
    color: #fff;
    text-indent: 0;
    font-style: normal;
    padding: 20px 0;
    font-size: 0.628rem;
    text-align: center;
    opacity: 1;
    transition: opacity 0.3s;
    background: rgba(229, 0, 70,0.5);
    font-family: 'Gothic A1', sans-serif;

}

.tablet-inner{
    position: absolute;
    transform: translateX(-50%);
    bottom: 0%; left: 20%;
    width: 25%;
}

.tablet-inner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.phone-inner{
    position: absolute;
    transform: translateX(-50%);
    bottom: 0%; right: 10%;
    width: 15%;
}

.phone-inner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.wr-title{
    width: 40%;
    text-align: left;
    padding-top: 20px;
    
}

.wr-title h2{
    position: relative;
    font-size: 5vw;
    color: #222;
    font-weight: 500;
    letter-spacing: -7px;
    padding-bottom: 10px;
}

.wr-title .txt{
    display: flex;
    font-weight: 600;
    font-family: 'Gothic A1', sans-serif;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

.wr-title .txt span{
    font-size: 17px;
    font-weight: 500;
    line-height: 40px;
    padding-left: 20px;


}

.btn-wr{
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    gap: 0.628rem;
    margin-top: 1.28rem;
}

.btn-wr a{
    display: block;
    width: 150px;
    border: 1px solid #fff;
    border-radius: 25px;
    background-color: rgba(25,17,11,.2);
    padding: 10px 15px;
    color: #fff;
    font-weight: 600;
    font-family: 'Gothic A1', sans-serif;
    white-space: nowrap;
}

.btn-wr a:hover{
    box-shadow: inset 0 0 0 1px #fff;
}


/* sushi 영역 */

.sushi .wr-title h2::after{
    content: '01';
    position: absolute;
    left:0%; top: -2rem;
    font-size: 3vw;
}

.sushi-wr .bg-wr{
    right: 8%; top: 15%;
}

.sushi-wr .bg-wr img{
    width: 80%;
}

/* musign 영역 */

.musign-wr .bg-wr{
    right: 8%; top: 15%;

}

.musign-wr .bg-wr img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: soft-light;
    filter: opacity(0.8);
}

.musign .wr-title h2::after{
    content: '02';
    position: absolute;
    left:0; top: -2rem;
    font-size: 3vw;
}


/* shopping 영역 */
.react .moniter_wrap{
    background: url(../images/site/shopping.png) no-repeat;
    background-size: cover;
    background-position: top;
    transition: 1s;
}

.react .wr-title h2::after{
    content: '03';
    position: absolute;
    left:0%; top: -3rem;
    font-size: 3vw;
}

.react-wr .bg-wr{
    right: 8%; top: 15%;

}

.react-wr .bg-wr i{
    position: absolute;
    display: block;
    top: 0; right: 0;
    font-size: 6vw;
    padding: 2rem;
    color: #0067EB;
}

/* hanacard 영역 */

.hanacard .moniter_wrap{
    background: url(../images/site/hanacard.png) no-repeat;
    background-size: cover;
    background-position: top;
    transition: 1s;
}

.hanacard .wr-title h2::after{
    content: '04';
    position: absolute;
    left: 0%; top: -3rem;
    font-size: 3vw;
}

.hanacard-wr .bg-wr{
    right: 10%; bottom: 12%;

}


.obj{
    width: 100%;
    height: 100%;
} 

.obj .ob{
    position: absolute;
   
}

.obj .ob4 {
    /* 파라솔 */
    left: 215px;
    top: -45px;
}

.obj .ob5 {
    /* 슈트케이스 */
    left: 131px;
    top: -29px;
}

.obj .ob7 {
    /* 선물상자 */
    left: 155px;
    top: -80px;
}

.obj .ob8 {
    /* 종이상자 */
    left: 138px;
    top: -60px;
}

.obj .ob9 {
    /* 서류가방 */
    left: 180px;
    top: -66px;
}

.obj .ob10 {
    /* 바람1 */
    left:310px ;
    top: 20px;
    transform-origin: left top;

}

.obj .ob11 {
    /* 바람2 */
    left:320px ;
    top: 30px;
    transform-origin: left top;

}



/* standard 영역 */
.standard-wr .bg-wr{
    right: 10%; top: 15%;
    width: 8%;
}

.standard .moniter_wrap{
    background: url(../images/site/webstandard.png) no-repeat;
    background-size: cover;
    background-position: top;
    transition: 1s;
}

.standard .wr-title h2::after{
    content: '05';
    position: absolute;
    left: 0%; top: -2rem;
    font-size: 3vw;
}

/* thisismagma 영역 */

.thisismagma .wr-title h2::after{
    content: '06';
    position: absolute;
    left: 0%; top: -3rem;
    font-size: 3vw;
}


.thisismagma-wr .bg-wr{
    top: 10%; right: 5%;
}

.thisismagma-wr .bg-wr img{
    height: 100%;
}

/* Duda 영역 */

.Duda-wr .bg-wr{
    top: 20%; right:0;
}

.Duda-wr .bg-wr img{
    position: absolute;
    width: 60%;
    object-fit: cover;
}

.Duda-wr .bg-wr img:first-child{
    z-index: 999;
    left: -30%;
    bottom: -35%;
    
}

.Duda .wr-title h2::after{
    content: '07';
    position: absolute;
    left: 0%; top: -3rem;
    font-size: 3vw;
}

/* parallaxeffect 영역 */

.parallaxeffect .wr-title h2::after{
    content: '08';
    position: absolute;
    left: 0%; top: -2rem;
    font-size: 3vw;
}

.parallaxeffect-wr{
    position: relative;
}

.parallaxeffect-wr .bg-wr{ 
  position: absolute;
  width: 40%;
  height: 95%;
  top: 5%;
  right: 5%;
  clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  overflow: hidden;

}



/* design영역 */
  
.design .design-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #44659693; 
    height: 100vh;
}
  
  
.design .design-sec .design-tit{
    width: 40%;
    font-size: 2vw;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.5;
    font-family: 'Jost', sans-serif; 
   
}

.design .design-sec .grid-container {
    width: 60%;
}

.design .design-sec .grid-container .GRAPHIC{
    display:grid; 
    gap:24px;
}

.GRAPHIC .grid-item {
    background-size: cover; 
    background-repeat: no-repeat;
    background-position:top;  
    transition:.3s;
}

.GRAPHIC .grid-item:hover {
    transform:scale(1.03);
}

.GRAPHIC {
    grid-template-rows: repeat(2,16vw);
    grid-template-columns: repeat(3,16vw);
    grid-template-areas:
    'item1 item3 item4'
    'item2 item3 item4';
}



.GRAPHIC01 .grid-item {
    filter:grayscale(1) contrast(0.8);
}
.GRAPHIC01 .grid-item:hover {
    filter:grayscale(0) contrast(1);
}
.GRAPHIC01 .grid-item.item1 {
    grid-area:item1; background-image: url(../images/design/배너디자인01.jpg);
}
.GRAPHIC01 .grid-item.item2 {
    grid-area:item2; background-image: url(../images/design/프로모션디자인01.jpg);
}
.GRAPHIC01 .grid-item.item3 {
    grid-area:item3; background-image: url(../images/design/상세페이지01.jpg);
}
.GRAPHIC01 .grid-item.item4 {
    grid-area:item4; background-image: url(../images/design/상세페이지02.jpg);
}


/*modal popup */
.modal_popup_bg {
    background:#000000dd;
    position:fixed;
    top:0; left:0; width:100%; height:100%; 
    display:none; 
    z-index: 900;
}

.modal_popup_bg .container{
    position:fixed;
    left:50%; 
    transform:translateX(-50%);
    width:90%;
    top: 60px; height: calc(100% - 60px);
    display:flex; 
    flex-flow:column nowrap; 
    gap:15px;
}

.modal_popup_bg .container .title_btn_container {
    display:flex; 
    justify-content: space-between; 
    align-items: center; 
}

.modal_popup_bg .container .title_btn_container .title {
    color:#fff; 
    font-size:0.875rem; 
    color:#ffffff77;
    display:flex; 
    flex-flow:row wrap; 
    gap:8px;
}

.modal_popup_bg .container .title_btn_container .title span:nth-child(1) {
    font-weight:500; 
    font-size:1rem; 
    color:#ffffffaa;
}

.modal_popup_bg .container .title_btn_container .close_btn {
    padding:12px; 
    transition:.3s
}

.modal_popup_bg .container .title_btn_container .close_btn i {
    font-size: 1.3rem;
    color:#ffffffaa;
}

.modal_popup_bg .container .title_btn_container .close_btn:hover {
    transform: scale(1.2);
}


.modal_popup_bg .container .img_container {
    width:100%; 
    overflow-y: scroll;
}

.modal_popup_bg .container .img_container img {
    width:100%;
}

/* scrollbar */
.modal_popup_bg .container .img_container::-webkit-scrollbar {
    width: 10px;
}

.modal_popup_bg .container .img_container::-webkit-scrollbar-track {
    background: #000;  
}

.modal_popup_bg .container .img_container::-webkit-scrollbar-thumb {
    background: #fff; 
    border:4px solid #000; 
    border-top:0; 
    border-bottom:0;
}

.modal_popup_bg .container .img_container::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* img_container*/
.design-sec .modal_popup_bg .container1 {max-width:750px;}
.design-sec .modal_popup_bg .container2 {max-width:800px;}
.design-sec .modal_popup_bg .container3 {max-width:800px;}
.design-sec .modal_popup_bg .container4 {max-width:800px;}



  
/* contact 영역 */
.contact{
    position: relative;
    color: #fff;
    transition: 0.3s;
    overflow: hidden;
}

.contact-box {
    height: 100vh;
    font-family: 'Crimson Pro', serif;
    padding: 2vw;
    

}

.msg-wr{
    position: absolute;
    transform: translate(-50% , -50%);
    top: 40%; left: 60%;
    width: 50%;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    gap: 1.5rem;
    z-index: 999;
}

.msg-tit{
    font-size: 4.68vw;
}

.msg-desc{
    display: block;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 400;
    font-size: 0.98rem;
    width: 32vw;
    line-height: 1.4;
}

.link-wr{
    margin-top: 3rem;
    height: 60px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
}

.link-wr button{
    width: 50px;
    height: 50px;
    padding: 0.628rem;
    border: 2px solid #fff;
    border-radius:50% ;
    margin:1rem 2rem 0 0;
}

.link-wr button:hover{
    transform: scale(1.2);
}

.link-wr a img{
    width: 100%;
    object-fit: cover;
}

.contact-spin{
    position: relative;
    min-height: 100vh;
    transition: 0.5s;
}

.contact-spin .spin01{
    position: absolute;
    left: 10.2857142857vw;
    top: -22.8571428571vw;
    width: 97vw;
    height: 97vw;
    -webkit-animation: spin 48s infinite linear;
    animation: spin 48s infinite linear;
    transform: scale3d(1,1,1);
    opacity: 1;
}

.contact-spin .spin02{
    position: absolute;
    bottom: -10vw;
    left: 65vw;
    width: 30vw;
    -webkit-transform: translate3d(-50%,0,0);
    transform: translate3d(-50%,0,0);
    -webkit-animation: spin 48s infinite linear;
    animation: spin 48s infinite linear;
    opacity: 1;
}

.contact-spin svg path{
    fill: #fff;
}

.ft_bottom{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    text-align: center;
    font-family: 'Gothic A1', sans-serif;
    font-size: 0.8rem;
    line-height: 1.2;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

